html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

main {
    padding-top: var(--wp--custom--header-size);
    min-height: 100vh;
    overflow: hidden;
}


strong {
    font-weight: 800;
}

// h1, h2, h3 {
//     color: var(--wp--preset--color--accent-1);
// }
h1 strong,
h2 strong,
h3 strong {
    font-weight: 700;
}

h1,
h2,
h3 {
    sup {
        font-size: var(--wp--preset--font-size--x-large) !important;
    }
}

details {
    p {
        font-size: var(--wp--preset--font-size--small) !important;
    }
}

li {
    line-height: 1;
}

.wp-block-list li {
    margin-left: 20px;
}
.navbar .wp-block-list li, .grid--footer .wp-block-list li {
    margin-left: 0!important;
}

summary {
    list-style: none;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    outline: none;
    display: grid;
    grid-template-columns: auto 1fr;
}

summary::-webkit-details-marker {
    display: none;
}

summary:before {
    background: var(--wp--preset--color--accent-1);
    content: "";
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none'><path d='M0.99938 1.10187L5.9994 6L11.0291 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'></path></svg>");
    float: left;
    margin: 0 20px 0 0;
    width: 40px;
    height: 40px;
    background-size: 30% 30%;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    border-radius: 5px;
    transform: rotate(-90deg);

    @media #{$sm} {
        margin: 0 15px 0 0;
        width: 25px;
        height: 25px;
    }
}

details[open] summary {

    &:before {
        transform: rotate(0);
    }
}

@media #{$lg} {
    .wp-block-details {
        padding: var(--wp--preset--spacing--20) !important;
    }
}

// @media #{$sm} {
//     .is-layout-grid {
//         grid-template-columns: 1fr!important;
//     }
// }